*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


/* --------------------------header----------------- */


.header{
    background-color: rgb(52, 14, 54);
    font-family: 'Poppins', sans-serif;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
    gap: 10px;
}

.header__content1{
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__content2{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 25px;
}

.header__logo{
    font-size: 2.5rem;
    color: #fff;
}

.header__icon{
    width: 30px;
    color: #fff;
    cursor: pointer;
}

.header__box-inp{
    position: relative;
    width: 100%;
}

.header__inp{
    width: 100%;
    padding: 10px;
    border-radius: 14px;
    outline: none;
    border: 1px solid rgb(51, 48, 48);
}

.header__search{
    width: 25px;
    position: absolute;
    top: 50%; 
    right: 5px;
    transform: translateY(-50%);
}

.header__enlaces span{
    font-size: 2.5rem;
}

.bx-span{
    color: #fff;
    font-size: 1.5rem;
    padding-right: 5px;
}



/* --------------------------main----------------------------- */

.main__banner{
    width: 90%;
    margin: 50px auto
}

.main__banner-img{
    width: 100%;
}

.main__content-grid{
    /* background-color: aqua; */
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 15px;
}

.main__title{
    text-align: center;
    font-size: 3.5rem;
}

.main__product{
    /* background-color: #fcf7f7; */
    padding: 10px;
    text-align: center;
}

.main__info-subtitle,
.main__info-price,
.main__info-categoria{
    font-size: 2rem;
}

.main__product img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.main__info{
    padding:20px 0;
}
.main__info-add{
    padding: 10px 0;
    width: 90%;
    cursor: pointer;
}

/* ------------------------------cart --------------------- */

.cart__modal{
    background: rgba(0, 0, 0, 0.705);
    position: fixed;
    z-index: 1;
    height: 100vh;
    right: 0;
    left: 0;
    top: 0;
    /* lo oculta pero no pierde su espacio */
    opacity: 0;
    /* lo saca de su espacio  */
    visibility: hidden;
    transition: all 500ms ease;
}

.cart__modal.isActive{
    opacity: 1;
    visibility: visible;
}

.card__content{
    position: fixed;
    background-color: white;
    width: 100%;
    max-width: 420px;
    height: 100vh;
    right: 0;
    transform:  translateX(110%);
    transition: transform .3s;

    display: flex;
    flex-direction: column;
}

.card__content.active{
    transform:  translateX(0);
}

.cart__head, .cart__footer{
    background-color: gainsboro;
    padding: 20px 15px;
}

.cart__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close{
    font-size: 2.5rem;
    font-weight: bold;
}

.cart__body{
    min-height: calc(100vh - 136px);
    overflow-y: scroll;
}

.cart__footer{
    display: flex;
    justify-content: space-between;
}

.cart__button{
    width: 150px;
    padding: 10px 15px;
    font-size: 1.5rem;
}

/* ----------------------------itemCart------------------ */

.cart__item{
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    gap: 15px;
    padding: 20px 10px;
    border-bottom: 1px solid #868686;
}
.cart__column-img{
    width: 30%;
    height: 125px;
}

.cart__column-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
}

.cart__deleted{
    cursor: pointer;
}

.cart__description{
    display:flex;
    justify-content: space-between;
}


.cart__details-group{
    display: flex;
    justify-content: space-between;
}

.cart__gropu-btn input{
    width: 50px;
    text-align: center;
}
.cart__btn-minus, .cart__btn-plus{
    width: 30px;
}

.cart__gropu-btn{
    display: flex;
}


/* -------------------------footer----------------------- */

.footer{
    color: #fff;
    background-color:  rgb(42, 10, 44);
    padding: 15px 0;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* font-weight: bold; */
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
}

.footer__info-text{
    display: flex;
    justify-content: space-between;

}


@media(min-width: 600px){

    .header__box-inp{
        width: 40%;
    }
    .header__content2{
        order: 1;
    }

}


