*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


/* --------------------------header----------------- */
.header{
    background-color: #583c64;
    padding: 10px 0;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header__content1, .header__content2{
    display: flex;
}

.header__logo{
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;   
}

.header__icon{
    width: 30px;
}

.header__enlaces span{
    font-size: 2.5rem;
}

.bx-span{
    font-size: 1.5rem;
    padding-right: 5px;
}


/* ---------------modal menu desplegable----------------------- */
.modal{
    position: relative;
    background: rgba(0, 0, 0, 0.459);
    position: fixed;
    z-index: 12;
    height: 100vh;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
}

.modal.isActive{
    opacity: 1;
    visibility: visible;
}

.header__enlaces{
    background-color: rgb(96, 131, 131);
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
    left: -100%;
    transition: left 0.5s ease;
}

.header__enlaces.isActive {
    left: 0;
}

.header__link {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.modal__icon-delete{
    color: #fff;
    position: absolute;
    font-size: 4rem;
    top: 7%;
    right: 10%;
    transform: translateY(-50%);
}

.content span{
    display: none;
}

/* --------------------------main----------------------------- */
.main__banner img{
    width: 100%;
}

.main__content-grid{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* gap: 15px; */
}

.main__title{
    text-align: center;
    font-size: 3rem;
}

.main__product{
    padding:  10px;
    text-align: center;
}

.main__info-subtitle,
.main__info-price,
.main__info-categoria{
    font-size: 1.8rem;
}

.main__product img{
    width: 100%;
    height: 65%;
    /* object-fit: cover; */
}

.main__info{
    padding:20px 0;
    /* min-height: 135px; */
}

.main__info-add{
    padding: 8px 0;
    margin-bottom: 15px;
    width: 90%;
    cursor: pointer;
}

/* ------------------------------cart --------------------- */
#icon-cart, .cart__deleted, .cart__btn-minus, .cart__btn-plus{
    cursor: pointer;
}

.cart__modal{
    background: rgba(0, 0, 0, 0.705);
    position: fixed;
    z-index: 11;
    height: 100vh;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0; /* lo oculta pero no pierde su espacio */
    visibility: hidden;  /* lo saca de su espacio  */
    transition: all 500ms ease;
}

.cart__modal.isActive{
    opacity: 1;
    visibility: visible;
}

.card__content{
    position: fixed;
    background-color: #f1eded;
    width: 100%;
    max-width: 420px;
    height: 100vh;
    right: 0;
    transform:  translateX(110%);
    transition: transform .3s;
    display: flex;
    flex-direction: column;
}

.card__content.active{
    transform:  translateX(0);
}

.cart__head{
    font-size: 2.5rem;
    border-bottom: 1px solid rgb(163, 161, 161);
}
.cart__head, .cart__footer{
    padding: 20px 25px;
    color: #000;
    border-top: 1px solid rgb(163, 161, 161);
}

.cart__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close{
    cursor: pointer;
    background-color: #e7e3e3;
}

.close:hover{
    background-color: #d8d3d3;
}

.cart__body{
    min-height: calc(100vh - 155px);
    overflow-y: scroll;
    color: #000;
    font-size: 3rem;
}

.cart__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    gap: 20px;
    color: #000;
}


.cart__button{
    background-color: #000; 
    color: #fff;
    padding: 10px 40px;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
    border-radius: 5px;
    border: 1px solid rgb(73, 70, 70);
    cursor: pointer; 
}

.cart__button.active{
    cursor: not-allowed;
    opacity: 0.5;
}

.cart__button-total{
    color: #000;
    font-weight: bold;
    /* padding-right: 10px; */
}
.cart-footer #cart-total{
    color: #000;
}
.cart__button:hover {
    background-color: #1a1919; 
}
/* ----------------------------itemCart------------------ */

.cart__item{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px 20px;
    border-bottom: 1px solid rgb(221, 219, 219);
}
.cart__column-img{
    width: 25%;
    height: 115px;
    border-radius: 5px;
}

.cart__column-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
}

.cart__deleted-box{
    min-height: 10px;
    width: 40px;
}

.cart__deleted {
    padding: 8px;
    color: #000;
    border-radius: 50%;
    transition: background-color 0.3s;
    &:hover {
      background-color: lightcoral; 
      color: white; 
      border-radius: 50%;
    }
}

.cart__description-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.cart__content-details{
    display: flex;
    gap: 20px;
}

.cart__content-details2{
    display: flex;
    gap: 50px;
}
.cart__gropu-btn{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.cart__btn-minus, .cart__btn-plus, .cart__btn-inp{
    padding: 4px 10px;
    width: 100%;
    font-size: 1.5rem;   
    font-weight: bold;
}






/* -------------------------footer----------------------- */
.footer{
    color: #fff;
    background-color: #000;
    padding: 30px 0;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 20px;
    font-family: 'Poppins', sans-serif
    ;
}

.footer__info-text{
    display: flex;
    justify-content: space-between;
}


@media(min-width: 1200px){
    .header{
        padding: 0;
    }
    #header__icon{
        display: none;
    }

    .header__logo{
        font-size: 3rem;
    }
    .header__enlaces{
        position: inherit; 
        height: auto;
        width: auto;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        transition: none;
        background-color: transparent;
    }

    .modal{
        position: inherit;
        background: none;
        visibility: visible;
        opacity: 1;
        height: auto;
        width: auto;
        transition: none;
        margin-left: 5%;
    }

    .modal__icon-delete,.logo-mobil{
        display: none;
    }

    .header__content1{
        order: 2;
        margin-left: auto;
    }

    .content{
        display: flex;
        align-items: flex-end;
        gap: 10px;
        font-size: 1.5rem;
        margin-left: 10px;
    }

    .header__content2{
        order: 3;
    }
     
    .content span{
        display: inherit;
        font-family: 'Outfit', sans-serif;
    }

    
}



